/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/source-sans-pro-v19-latin-regular.woff2') format('woff2'),
       url('../assets/fonts/source-sans-pro-v19-latin-regular.woff') format('woff');
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/source-sans-pro-v19-latin-700.woff2') format('woff2'),
       url('../assets/fonts/source-sans-pro-v19-latin-700.woff') format('woff');
}
